.media-info {
  .media-cover {
    margin-right: 1em;
  }
  .media-actions {
    margin-top: 1em;
  }

  &.cover-only {
    // padding: 1em;
    margin-bottom: 1em;
    background-color: rgba(0,0,0,0.15);
    .media-cover {
      margin-right: 0em;
    }
  }
}

.play-media {
  video {
    width: 100%;
  }
}

form.dropzone {
  .dz-default {
    width: 100%;
    padding: 1em;
    background-color: rgba(0,0,0,0.15);
    text-align: center;
    cursor: pointer;
  }

  .dz-preview {
    padding: 1em;
    background-color: rgba(0,0,0,0.15);
  }

  &.dz-max-files-reached {
    .dz-default {
      display: none;
    }
  }
}

.no-movies-message {
  text-align: center;
  background-color: rgba(0,0,0,0.15);
  padding: 1em;
}