<!doctype html>
<html class="no-js" lang="en" ng-app="movee">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>movee</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <div class="row">
            <div class="large-12 columns">
                <h1>movee</h1>
                <ul class="inline-list">
                    <li><h3><a href="/#/movies">{{ isLocationActive('/movies') ? '[&nbsp;movies&nbsp;]' : 'movies' }}</a></h3></li>
                    <li><h3><a href="/#/tv-shows">{{ isLocationActive('/tv-shows') ? '[&nbsp;tv shows&nbsp;]' : 'tv shows' }}</a></h3></li>
                </ul>
                <div ng-view=""></div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/dropzone.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-route.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
        <script src="/static/js/util.js"></script>
        <script src="/static/js/controllers.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>