<div class="row">
  <div class="large-3 columns">
    <ul class="button-group">
      <li><button class="small" ng-click="view = 'grid'"><i class="fa fa-th"></i>&nbsp;grid</button></li>
      <li><button class="small" ng-click="view = 'list'"><i class="fa fa-th-list"></i>&nbsp;list</button></li>
    </ul>
    <ul class="no-bullet">
      <li><a ng-href="{{ '/#/' + media_endpoint + '/add' }}" class="button expand small">add a {{ media_type }}</a></li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="media-grid" ng-show="view == 'grid'">
      <div class="row">
        <div class="large-4 small-6 columns" ng-repeat="thing in media">
          <div class="media-info cover-only">
            <div class="media-cover">
              <a ng-href="{{ '/#/' + media_endpoint + '/' + thing.slug }}">
                <img ng-src="{{ '/api/' + media_endpoint + '/' + thing.slug + '/cover' }}" alt="{{ thing.title }}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="media-list" ng-show="view == 'list'">
      <div class="no-media-message" ng-show="!media.length">
        <h4>no {{ media_type }}. add some!</h4>
      </div>
      <div class="media-info" ng-repeat="thing in media" ng-hide="!media.length">
        <div class="media-cover left">
          <a ng-href="{{ '/#/' + media_endpoint + '/' + thing.slug }}">
            <img ng-src="{{ '/api/' + media_endpoint + '/' + thing.slug + '/cover' }}" style="height:200px;" alt="{{ thing.title }}">
          </a>
        </div>
        <div class="media-rundown">
          <h3>{{ thing.title }} <small>{{ thing.year }} - {{ thing.genre | genre }}</small></h3>
          <p>{{ thing.description }}</p>
        </div>
        <div class="clearfix"></div>
        <div class="media-actions">
          <div ng-include="'/static/views/' + media_type + '-index-actions.html'"></div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>