<div class="row">
  <div class="large-3 columns">
    <ul class="no-bullet">
      <li><a href="/#/movies/add" class="button expand small">add a movie</a></li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="no-movies-message" ng-show="!movies.length">
      <h4>no movies. add some!</h4>
    </div>
    <div class="media-info" ng-repeat="movie in movies" ng-hide="!movies.length">
      <div class="media-cover left">
        <img ng-src="{{ '/api/movie/' + movie.id + '/cover' }}" style="height:200px;" alt="{{ movie.title }}">
      </div>
      <div class="media-rundown">
        <h3>{{ movie.title }} <small>{{ movie.year }} - {{ movie.genre | movie_genres }}</small></h3>
        <p>{{ movie.description }}</p>
        <div class="media-actions">
          <ul class="button-group">
            <li><a ng-href="{{ '/#/play/movie/' + movie.id }}" class="button tiny">play</a></li>
            <li><a ng-href="{{ 'vlc://' + getWindowOrigin() + '/stream/movie/' + movie.id }}" class="button tiny">play in vlc</a></li>
            <li><a href="" class="button tiny">remove</a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr>
    </div>
  </div>
</div>