<fieldset>
  <legend>add a movie</legend>

  <div class="row" id="movie-add-container">
    <div class="large-12 columns">
      <p>please enter all fields, if you need some good metadata and movie covers, go look for it on <a href="https://www.themoviedb.org/" target="_blank">the movie db</a></p>
    </div>
    <div class="large-4 columns">
      <form action="/api/movie" method="post" class="dropzone" id="movie-add">
        <input type="hidden" ng-value="movie_title" name="movie_title">
        <input type="hidden" ng-value="movie_description" name="movie_description">
        <input type="hidden" ng-value="movie_genre" name="movie_genre">
        <input type="hidden" ng-value="movie_year" name="movie_year">
        <input type="hidden" ng-value="movie_filename" name="movie_filename">
      </form>
    </div>
    <div class="large-8 columns">
      <div class="alert-box alert" ng-show="!!error_message">{{ error_message }}</div>
      <div class="alert-box" ng-show="!!message">{{ message }}</div>
      <label for="movie_title">
        title
        <input type="text" ng-model="movie_title" id="movie_title" ng-disabled="in_progress">
      </label>
      <label for="movie_description">
        description
        <textarea id="movie_description" rows="7" ng-model="movie_description" ng-disabled="in_progress"></textarea>
      </label>
      <div class="row">
        <div class="large-6 columns">
          <label for="movie_genre">
            genre
            <select ng-model="movie_genre" id="movie_genre" ng-options="genre.value as genre.label for genre in genres" ng-disabled="in_progress"></select>
          </label>
        </div>
        <div class="large-6 columns">
          <label for="movie_year">
            year
            <input type="text" ng-model="movie_year" id="movie_year" placeholder="(yyyy)" ng-disabled="in_progress">
          </label>
        </div>
      </div>
      <label for="filename">file location</label>
      <div class="row collapse">
        <div class="large-4 small-4 columns">
          <span class="prefix" style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap;">{{ server_info.directories.movies }}</span>
        </div>
        <div class="large-8 small-8 columns">
          <input type="text" ng-model="movie_filename" placeholder="path/to/my/movie.mp4" id="filename" ng-disabled="in_progress">
        </div>
      </div>
      <button class="small expand" ng-click="addMovie()" ng-disabled="in_progress">add movie</button>
    </div>
  </div>


</fieldset>
