<ul class="button-group">
  <li><a ng-href="{{ '/#/tv-shows/' + thing.id }}" class="button tiny">show seasons</a></li>
  <li><a ng-href="{{ '/#/tv-shows/' + thing.id + '/delete' }}" class="button tiny">delete</a></li>
</ul>