<div class="row">
  <div class="large-3 columns">
    <ul class="button-group">
      <li><button class="small" ng-click="view = 'grid'"><i class="fa fa-th"></i>&nbsp;grid</button></li>
      <li><button class="small" ng-click="view = 'list'"><i class="fa fa-th-list"></i>&nbsp;list</button></li>
    </ul>
    <ul class="no-bullet">
      <li><a href="/#/tv-shows/add" class="button expand small">add a show</a></li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="media-grid" ng-show="view == 'grid'">
      <div class="row">
        <div class="large-4 columns" ng-repeat="show in shows">
          <div class="media-info cover-only">
            <div class="media-cover">
              <a ng-href="{{ '/#/tv-shows/' + show.id }}">
                <img ng-src="{{ '/api/tv-shows/' + show.id + '/cover' }}" alt="{{ show.title }}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="media-list" ng-show="view == 'list'">
      <div class="no-tv-shows-message" ng-show="!shows.length">
        <h4>no shows. add some!</h4>
      </div>
      <div class="media-info" ng-repeat="show in shows" ng-hide="!shows.length">
        <div class="media-cover left">
          <a ng-href="{{ '/#/tv-shows/' + show.id }}">
            <img ng-src="{{ '/api/tv-shows/' + show.id + '/cover' }}" style="height:200px;" alt="{{ show.title }}">
          </a>
        </div>
        <div class="media-rundown">
          <h3>{{ show.title }} <small>{{ show.year }}&nbsp;-&nbsp;{{ show.genre | show_genres }}</small></h3>
          <p>{{ show.description }}</p>
          <div class="media-actions">
            <ul class="button-group">
              <li><a ng-href="{{ '/#/tv-shows/' + show.id }}" class="button tiny">show more info</a></li>
              <li><a href="" class="button tiny">remove</a></li>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
      </div>
    </div>
  </div>
</div>